@{
    ViewData["Title"] = "Inicio";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">



<div class="row">
    <div class="col-sm-12">
        <div class="region region-banners">
            <section class="views-element-container block block-views block-views-blockbanners-block-1 clearfix" id="block-views-block-banners-block-1">
                <div class="form-group">
                    <div class="view view-banners view-id-banners view-display-id-block_1 js-view-dom-id-2e3c7e6c4ad3b7d5b0796b33d8e35b4ee5d2dcd01bf4e0081cfa03ae9dc82ee7">
                        <div class="view-content">
                            <div>
                                <div id="flexslider" class="flexslider optionset-noticias-inicio">
                                    <div class="slides">
                                        <div class="field-content">
                                            <img src="~/recursos/Banner/BANNER_1.jpg" alt="" class="img-responsive">
                                            <p class="page-header">
                                                <span property="schema:name" style="font-size: 1.2em">Futbol 7:</span> Las nuevas tecnologías nos permiten interactuar con el mundo entero, y a través de nuestra web, ponemos a su alcance información oficial de nuestro quehacer institucional y la posibilidad de realizar una serie de gestiones virtuales a favor de nuestros vecinos, así como el acceso a procedimientos, datos administrativos, proyectos, licitaciones, concursos laborales, etc.
                                            </p>
                                        </div>
                                        <div class="field-content">
                                            <img src="~/recursos/Banner/BANNER_1.jpg" alt="" class="img-responsive">
                                            <p class="page-header">
                                                <span property="schema:name" style="font-size: 1.2em">Voley:</span> Las nuevas tecnologías nos permiten interactuar con el mundo entero, y a través de nuestra web, ponemos a su alcance información oficial de nuestro quehacer institucional y la posibilidad de realizar una serie de gestiones virtuales a favor de nuestros vecinos, así como el acceso a procedimientos, datos administrativos, proyectos, licitaciones, concursos laborales, etc.
                                            </p>
                                        </div>
                                        <div class="field-content">
                                            <img src="~/recursos/Banner/BANNER_1.jpg" alt="" class="img-responsive">
                                            <p class="page-header">
                                                <span property="schema:name" style="font-size: 1.2em">Fulbito:</span> Las nuevas tecnologías nos permiten interactuar con el mundo entero, y a través de nuestra web, ponemos a su alcance información oficial de nuestro quehacer institucional y la posibilidad de realizar una serie de gestiones virtuales a favor de nuestros vecinos, así como el acceso a procedimientos, datos administrativos, proyectos, licitaciones, concursos laborales, etc.
                                            </p>
                                        </div>
                                        <div class="field-content">
                                            <img src="~/recursos/Banner/BANNER_1.jpg" alt="" class="img-responsive">
                                            <p class="page-header">
                                                <span property="schema:name" style="font-size: 1.2em">Basquet:</span> Las nuevas tecnologías nos permiten interactuar con el mundo entero, y a través de nuestra web, ponemos a su alcance información oficial de nuestro quehacer institucional y la posibilidad de realizar una serie de gestiones virtuales a favor de nuestros vecinos, así como el acceso a procedimientos, datos administrativos, proyectos, licitaciones, concursos laborales, etc.
                                            </p>
                                        </div>
                                        <div class="field-content">
                                            <img src="~/recursos/Banner/BANNER_1.jpg" alt="" class="img-responsive">
                                            <p class="page-header">
                                                <span property="schema:name" style="font-size: 1.2em">Tenis:</span> Las nuevas tecnologías nos permiten interactuar con el mundo entero, y a través de nuestra web, ponemos a su alcance información oficial de nuestro quehacer institucional y la posibilidad de realizar una serie de gestiones virtuales a favor de nuestros vecinos, así como el acceso a procedimientos, datos administrativos, proyectos, licitaciones, concursos laborales, etc.
                                            </p>
                                        </div>
                                        <div class="field-content">
                                            <img src="~/recursos/Banner/BANNER_1.jpg" alt="" class="img-responsive">
                                            <p class="page-header">
                                                <span property="schema:name" style="font-size: 1.2em">Frontón:</span> Las nuevas tecnologías nos permiten interactuar con el mundo entero, y a través de nuestra web, ponemos a su alcance información oficial de nuestro quehacer institucional y la posibilidad de realizar una serie de gestiones virtuales a favor de nuestros vecinos, así como el acceso a procedimientos, datos administrativos, proyectos, licitaciones, concursos laborales, etc.
                                            </p>
                                        </div>
                                    </div>
                                    <ul class="flex-direction-nav">
                                        <li class="flex-nav-prev">
                                            <a class="flex-prev" href="#">Anterior</a>
                                        </li>
                                        <li class="flex-nav-next">
                                            <a class="flex-next" href="#">Siguiente</a>
                                        </li>
                                    </ul>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </section>


        </div>

    </div>
</div>

<div class="row">
    <div class="region region-iconos-secciones">
        <h2 class="block-title">HISTORIA DE QHAPACÑAN </h2>
    </div>


    <section class="col-sm-12">
        <div class="content">
            <div style="text-align: justify" property="schema:text" class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
                <p>El 16 de noviembre de 1532, Cajamarca es escenario de uno de los episodios más importantes de la historia peruana y americana: la captura del Inca Atahualpa y el final del imperio del Tahuantinsuyo. Al producirse la conquista española las siete guarangas de Cajamarca fueron otorgadas como encomiendas a Melchor Verdugo, quien comenzó a explotar las minas de Chilete. Cajamarca fue el primer establecimiento andino que en términos occidentales de la época, correspondió al concepto de ciudad pero cuando la visitó Pedro Cieza de León en 1545, estaba arrasada y abandonada, y sólo unos pocos españoles vinieron a establecerse, pese a que como dice el cronista "Esta provincia es fertilísima".</p>
                <p>En 1549 llegan los franciscanos, quienes bautizaron el pueblo con el nombre de San Antonio de Cajamarca. En 1564 se creó el corregimiento que comprendía las provincias de Huambos, Cajamarca y Huamachuco. Hacia 1574 se fundó el primer obraje, propiedad de doña Jordana Mejía, viuda del encomendero Melchor Verdugo. Al iniciarse el siglo XVII comienza una etapa de crecimiento económico y demográfico, sustentado en el desarrollo agrícola y ganadero, especialmente en la cría de ovejas que abastecieron la lana de los obrajes, cuya producción fue la más significativa. Cajamarca como en la época de los Incas se convirtió en el núcleo textil más importante del virreynato. A mediados del mismo siglo se consolida la propiedad rural; proliferan las estancias y surge el latifundismo, tanto por el sistema de la compra-venta como por el sistema del despojo de las tierras de las comunidades indígenas. Poco después comienza la edificación de las iglesias y las casonas de los grandes hacendados.</p>
                <p>En 1772 se descubrieron las minas de plata de Hualgayoc, hecho que va a producir enorme transformación en la economía regional al supeditar la producción agraria y la obrajera a la explotación de las minas. Los agricultores cajamarquinos deslumbrados con la posibilidad de enriquecerse , abandonan sus estancias y los hacendados sus obrajes, haciendas y ganados para volcarse a Hualgayoc convirtiéndola -pese a su clima y duras condiciones de vida- en una desordenada y desenfrenada concentración humana; mineros azogueros, comerciantes y aventureros de toda calaña se trasladaron allí de todas partes del virreynato.</p>
                <p>En 1782 la provincia constituida en partidos tenía una población de 7835 españoles, 22 299 mestizos y 29 692 indígenas. Se acrecentó la población española y Cajamarca se amestizó considerablemente. El auge de Hualgayoc duró hasta fines del siglo XVIII, cuando comenzaron a agotarse las vetas. En 1802, la villa fue elevada al rango de ciudad, dotándole de escudo nobiliario, hecho que no tuvo efecto alguno en su franca decadencia.</p>
            </div>
        </div>
    </section>

</div>

<div class="row">
    <div class="region region-iconos-secciones">
        <h2 class="block-title">HORARIOS DE ATENCION</h2>
    </div>
    <section class="col-sm-12">
        <div class="content">
            <div style="text-align: justify" property="schema:text" class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
                <p>Nuestros horarios de atencion son de lunes a sabados desde las 8:00 am a 6:00 pm. En donde atendemos y puede realizar los pagos de las reservas.<p>
                <p>
                    Recordar que el pago de las reservas hecho con semanas de anticipacion o dias de anticiapcion, se debe realizar maximo hasta un dia antes del dia de la reserva,
                    y si se realiza una reserva, un dia antes, deberia de cancelar, las primeras horas del dia de la reserva como maximo, caso de que se ocupe ese mismo dia,
                    se debe realizar, como maximo 2 horas antes ed entrar al centro deportivo
                </p>
            </div>
        </div>
    </section>
    <section class="col-sm-12">
        <div class="form-actions form-group js-form-wrapper form-wrapper" style="float: right">
            <a href="/home/reserva" class="button btn-primary btn">Realizar una reserva</a>
        </div>
    </section>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
}