
@{
    ViewData["Title"] = "Reserva";
}
<div class="row">
    <div class="region region-iconos-secciones">
        <h2 class="block-title">RESERVAR</h2>
    </div>
    <section class="col-sm-12" style="padding-top: 25px">
        <form action="/user/login" method="post">
            <div class="form-group">
                <label>Nombre</label>
                <input class="form-control" placeholder="DNI Ciudadano" name="Name" value="" />
            </div>
            <div class="form-group">
                <label>Nombre</label>
                <input class="form-control" placeholder="DNI Ciudadano" name="Name" value="" />
            </div>
            <div class="form-group">
                <label>Nombre</label>
                <input class="form-control" placeholder="DNI Ciudadano" name="Name" value="" />
            </div>
            <div class="form-group">
                <label>Nombre</label>
                <input class="form-control" placeholder="DNI Ciudadano" name="Name" value="" />
            </div>
            <div class="form-actions form-group js-form-wrapper form-wrapper" style="float: right">
                <button type="submit" class="button btn-primary btn">Registrar</button>
            </div>
        </form>
    </section>
</div>

