<!DOCTYPE html>
<html>
<head>
    <title>Ticket de Reserva</title>
    <style>
        table.border {
            border-collapse: collapse;
        }

            table.border th {
                padding: 5px;
                border: 1px solid black;
            }

            table.border td {
                padding: 5px;
                border: 1px solid black;
            }
    </style>
</head>
<body>
    <table style="width:100%">
        <tr>
            <td style="width:20%"></td>
            <td style="width:60%" align="center" valign="top">
                <table>
                    <tr><td align="center"><h4 style="margin:0px">Ticket de Reserva</h4></td></tr>
                </table>
            </td>
            <td style="width:20%">
                <table class="border" style="width:100%">
                    <tr><td align="center">DNI: 3434343434</td></tr>
                    <tr><td align="center" style="background-color:#D8D8D8">Tieckt</td></tr>
                    <tr><td align="center">Nro: 00000111</td></tr>
                </table>
            </td>
        </tr>

        <tr><td colspan="3" height="20"></td></tr>

        <tr>
            <td colspan="2">
                <table style="width:100%">
                    <tr>
                        <td colspan="1" style="width:20%">Cliente:</td>
                        <td colspan="3" style="width:80%;border-bottom:1px solid black">NombreyApellidosdeCliente</td>
                    </tr>
                </table>
                <br />
                <table style="width:100%">
                    <tr>
                        <td colspan="1" style="width:20%">Fecha de reserva:</td>
                        <td colspan="3" style="width:80%;border-bottom:1px solid black">FECHAReserva</td>
                    </tr>
                </table>
                <br />
                <table style="width:100%">
                    <tr>
                        <td colspan="1" style="width:20%">Fecha de pago:</td>
                        <td colspan="3" style="width:80%;border-bottom:1px solid black">FECHAPagada</td>
                    </tr>
                </table>
                <br />
            </td>
            <td></td>
        </tr>

        <tr><td colspan="3" height="30"></td></tr>

        <tr>
            <td colspan="3">
                <table class="border" style="width:100%;">
                    <thead>
                        <tr style="background-color:#D8D8D8">
                            <th>Servicio</th>
                            <th>P. Unitario</th>
                            <th>Horas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--<tr>
                            <td>1</td>
                            <td>sdafsda</td>
                            <td>2.4</td>
                            <td>2.4</td>
                        </tr>-->
                        FILASSer
                        <tr>
                            <td style="border: 0px !important"></td>
                            <td align="right">Total:</td>
                            <td>TOTALAPagar</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
    <p style="padding:20px">Reservado para horas:</p>
    <ul>
        HORASReserva
    </ul>
    <p style="text-align: left;"><strong>Muestra este tiket o el DNI del titular de la reserva para acceder a las instalaciones</strong></p>
</body>
</html>